header{
	background: url("../img/izaac-hewitt-lawrence-1087976-unsplash.jpg");
    background-size: cover;
	background-position: center;
}

footer{
	background: url("../img/izaac-hewitt-lawrence-1087976-unsplash.jpg");
    background-size: cover;
	background-position: center;
}
